{% extends "layout.html" %}
{% block content %}
<div class="container my-3 d-grid gap-1">
    <br>
    <div class="p-5 border">
        <p>
            En este sitio es para saber la similitud de discriminación que hay y identificar que clase de discriminación es.
        </p>
    </div>
    <br>
    <form class="container my-3 d-grid gap-1" action="{{ url_for('index') }}" method="post">
        <label for="text">Ingrese el texto:</label><br>
        <textarea name="text" id="text" rows="4" cols="60"></textarea>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="submit">Enviar</button>
            <button class="btn btn-primary me-md-2" type="button" onclick="window.location.href='/upload'">Cargar Archivo</button>
        </div>
    </form>
    <br>
    {% if value %}
    <label class="card text-center" for="resultados"><h5>RESULTADOS</h5></label>
    <div class="mb-2" id="resultados">
        <label disabled class="text-bg-gray mb-1 card text-center" for="table">{{value}}</label><br>
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}